{% extends "layout.html" %}
{% block nav %} {% endblock %}

{% block content %}
{% if current_user.is_anonymous %}
<h1>Welcome to Share</h1>
<p>Create your dream Blog.{% if current_user.is_anonymous %} <a href="/register">Register Now!</a>{% endif %}</p>
{% endif %}
{% if current_user.is_authenticated %}
  Hi {{ current_user.username }}! Hope you are well today. Visit your <a href="/{{ current_user.username }}">homepage.</a>
<h4 style="border-bottom: solid;" class="mt-5 mb-5">Latest Posts from other Users</h4>
{% for post in posts %}
<h2><a style="color: black;" href="/{{post.user.username}}/{{ post.id }}">{{post.title}}</a></h2>
<div class="mb-3" style="float: right; width: 100%; font-size: 14px;">
  By: <a class="text-muted" href="/{{post.user.username}}">{{post.user.username}}</a>| Created: {{ post.created }}</div>
  {{ post.content | markdown}} <br>
  {% endfor %}
  {% endif %}
{% endblock %}